{% extends "nba_play/base.html" %}
{% block title %}Guess the Player{% endblock %}

{% block content %}
  <div class="container">
    <h2>Guess the Player</h2>

    <div class="game-type">
      <input type="radio" id="practice" value="practice" name="game-type">
      <label for="practice">Practice</label>

      <input type="radio" id="timed" value="timed" name="game-type" checked>
      <label for="timed">Timed</label>
    </div>

    <div class="game-box">
      <form id="start-form">
        {% csrf_token %}
        <button class="button" type="submit">Start Game!</button>
      </form>

      <div class="guess-options">
        <div class="user-guess-text" hidden>
          <label for="user-text">Enter Player Name</label>
          <input type="text" id="user-text">
        </div>
        <button class="button skip-button" hidden>Skip</button>
      </div>

      <div class="score-board">

        <div class="score">
          <span>Score</span>
          <div id="score-value">0</div>
        </div>

        <div class="time">
          <span>Time</span>
          <div id="time-value">1:00</div>
        </div>

      </div>

    </div>

    <div class="players">

    </div>

  </div>

  <script>
    let form = document.getElementById('start-form');
    form.addEventListener('submit', startGame);

    time_lst = document.getElementById('time-value').innerText.split(":")
    let seconds = parseInt(time_lst[0]) * 60 + parseInt(time_lst[1])
    let intervalId;

    function startGame(e){
      e.preventDefault();

      intervalId = setInterval(gameTimer, 100); // timer

      // changing game design
      document.getElementById("start-form").style.display = "none";
      document.querySelector('.user-guess-text').style.display = "flex";
      document.querySelector(".skip-button").style.display = "block";
      document.querySelector(".game-type").style.display = "none";
      getRandomPlayer()
      .then((last_name) => {
        document.querySelector("#user-text").addEventListener('keyup', checkCorrect);
      });

      document.querySelector('.skip-button').addEventListener('click', getRandomPlayer)
    }
    
    function gameTimer() {
      seconds = (seconds - 0.1).toFixed(1);
      document.getElementById('time-value').textContent = seconds;
      if (seconds < 0.1){
        clearInterval(intervalId);
      }
    }

    function getRandomPlayer() {
      return new Promise((resolve, reject) => {
        document.querySelector('#user-text').value = "";
        fetch('get_random_players')
        .then((res) => res.json())
        .then((players) => {
          player = players[0]
          output = `<div class="player">
            <img class="player-image" 
            src="https://cdn.nba.com/headshots/nba/latest/260x190/${player.nba_id}.png" 
            alt=""></div>`
          document.querySelector('.players').innerHTML = output;
          last_name = player.last_name;
          resolve(last_name);
        });
      });
    }

    function checkCorrect(){
      let guess = document.querySelector('#user-text').value;
      console.log(guess, last_name)
      if(guess == last_name){
        let score = document.querySelector('#score-value');
        let new_value = parseInt(score.innerText) + 1;
        score.innerHTML = new_value;
        getRandomPlayer();
      }
    }
      // timer needs to continue when we swap tabs
      // need a way to end game
      // also have practice mode where there's no timer
  </script>

{% endblock %}