{% extends "nba_play/base.html" %}
{% block title %}NBA Play{% endblock %}


{% block content %}
  <div class="container">
    <h2>Random Player Generator</h2></div>
  <div class="container instruction-box">
      <span id="instruction-text">Instructions: Please specify the number of players and NBA player type to randomly generate!</span>
  </div>
  <form class="container selection-box" method="get" action="/">
    <div class="selections">
      {% csrf_token %}
      <div>
        {{ form.num_players.label_tag }}
        {{ form.num_players }}
      </div>
      <div>
        {{ form.player_type.label_tag }}
        {{ form.player_type }}
      </div>
    </div>
    <div class="generate-container">
      <input class="button" type="submit" value="Generate!">
    </div> 
  </form>

  <div class="players container"></div>



<script>
  let form = document.querySelector('.selection-box');
  form.addEventListener('submit', runEvent);

  function runEvent(e) {
    e.preventDefault();
    let num_players = parseInt(document.getElementById('num-players').value);
    let player_type = document.getElementById('player-type').value;
    fetchRandomPlayers(num_players, player_type);
  }

  function fetchRandomPlayers(num_players, player_type) {
    fetch(
      `get_random_players/?num_players=${num_players}&player_type=${player_type}`
    )
      .then((res) => res.json())
      .then((data) => {
        let output = '';
        data.forEach(function (player) {
          output += `<div class="player">
          <img class="player-image" 
          src="https://cdn.nba.com/headshots/nba/latest/260x190/${player.nba_id}.png" 
          alt="">
          <p>${player.first_name} ${player.last_name}<p>
          </div>`;
        });
        document.querySelector('.players').innerHTML = output;
      });
  }

</script>
{% endblock %}
